@import url("./listagem.css");


body, .search-container {
    background-color: #17171F;
}

.movie-container {
    position: relative;
    margin-bottom: 7vw;
    display: flex;
    height: fit-content;
}

.left-half {
    flex: 1;
    margin-left: 20px;
}

.movie-poster {
    display: flex;
    justify-content: center;
    overflow-x: none;
    top: 0;
    left: 0;
}

.background-image {
    width: 100vw;
    display: none;
    position: relative;
    overflow-x: none;
}

.left-half p, .left-half h2 {
    margin: 50px;
}

.left-half h3, .left-half h2, .left-half p {
    color: #D9D9D9;
}

.left-half h3 {
    font-size: 40px;
    margin-left: 20px;
}

.left-half h2 {
    font-size: 30px;
}

.left-half p {
    font-size: 20px;
}

.right-half {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.right-half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-half::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(23, 23, 31, 0.9), transparent);
}

.table-container {
    margin: 5vw;
    display: flex;
    justify-items: center;
    overflow-x: none;
    top: 0;
    left: 0;
    padding: 20px;
    max-width: max-content;
    background-color: #23232e;
}

.icons-table {
    border-collapse: collapse;
}

.icons-table span {
    margin: 15px;
}

.icons-table td {
    text-align: start;
    padding: 2px;
    border: none;
    font-weight: 400;
}


.icons-table td:first-child {
    padding: 20px;
    width: 100%;
}

.silver, .blue, .gold {
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
}

.silver {
    background-color: #D9D9D9;
}

.blue {
    background-color: #050434;
    color: #FFFFFF;
}

.gold {
    background-color: #D3CA78;
}

.icons {
    padding: 5px;
    width: 45px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #454444;
}



.imdb-icon {
    content: url('https://api.iconify.design/bxl/imdb.svg?color=%23d3ca78');
    width: 75px;
    float: right;
    margin-right: 5vw;
}

.imdb-icon:hover {
    content: url('https://api.iconify.design/bxl/imdb.svg?color=%23d9d9d9');
} 

.netflix-icon {
    content: url('https://api.iconify.design/ri/netflix-fill.svg?color=%23454444');
}

.netflix-icon:hover {
    content: url('https://api.iconify.design/ri/netflix-fill.svg?color=%23d9d9d9');
}

.prime-icon {
    content: url('https://api.iconify.design/arcticons/amazon-prime-video.svg?color=%23454444');
 }

 .prime-icon:hover {
    content: url('https://api.iconify.design/arcticons/amazon-prime-video.svg?color=%23d9d9d9');
 }

.hbo-icon {
    content: url('https://api.iconify.design/arcticons/hbo-max.svg?color=%23454444');
 }

 .hbo-icon:hover {
    content: url('https://api.iconify.design/arcticons/hbo-max.svg?color=%23d9d9d9');
 }

 .apple-tv-icon {
    content: url('https://api.iconify.design/simple-icons/appletv.svg?color=%23454444');
 }

 .apple-tv-icon:hover {
    content: url('https://api.iconify.design/simple-icons/appletv.svg?color=%23d9d9d9');
 }

 .youtube-icon {
    height: 45px;
    content: url('https://api.iconify.design/fa/youtube.svg?color=%23454444');
 }

 .youtube-icon:hover {
    content: url('https://api.iconify.design/fa/youtube.svg?color=%23d9d9d9');
 }

 .star-plus-icon {
    content: url('https://api.iconify.design/mdi/star-outline.svg?color=%23454444');
 }

 .star-plus-icon:hover {
    content: url('https://api.iconify.design/mdi/star-outline.svg?color=%23d9d9d9');
 }

 .disney-plus-icon {
    content: url('https://api.iconify.design/tabler/brand-disney.svg?color=%23454444');
 }

 .disney-plus-icon:hover {
    content: url('https://api.iconify.design/tabler/brand-disney.svg?color=%23d9d9d9');
 }

.paramount-icon {
    content: url('https://api.iconify.design/arcticons/paramount-plus.svg?color=%23454444');
}

.paramount-icon:hover {
    content: url('https://api.iconify.design/arcticons/paramount-plus.svg?color=%23d9d9d9');
}

.google-play-icon {
    content: url('https://api.iconify.design/uim/google-play.svg?color=%23454444');
}

.google-play-icon:hover {
    content: url('https://api.iconify.design/uim/google-play.svg?color=%23d9d9d9');
}

.netflix-icon:hover, .prime-icon:hover, .hbo-icon:hover, .apple-tv-icon:hover, .youtube-icon:hover, .star-plus-icon:hover, .disney-plus-icon:hover, .paramount-icon:hover, .google-play-icon:hover {
    background-color: #17171F;
}

.video-container{
    display: flex;
    justify-content: center;
    padding-bottom: 7vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.trailer {
    width: 60vw;
    height: 37vw;
}

@media screen and (max-width: 700px) {
    .movie-container {
        height: auto;
        max-width: 100px;
        margin-bottom: 15vw;
    }
    
    .left-half {
        margin-left: 0;
        max-width: 100vw;
        align-items: center;
    }

    .background-image {
        display: block;
        margin-bottom: 10vw;
        justify-content: end;
    }

    .left-half h3 {
        font-size: 25px;
    }

    .left-half h2 {
        font-size: 18px;
    }

    .left-half p {
        font-size: 13px;
    }

    .right-half {
        display: none;
    }

    .video-container {
        padding-bottom: 15vw;
    }

    .trailer {
        width: 90vw;
        height: 35vh;
        align-self: center
    }

    .table-container {
        padding: 8px;
        max-width: max-content;
        margin: auto;
    }

    .imdb-icon {
        width: 12vw;
        margin-right: 9vw;
    }
}
