/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


/* Amatic SC*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Leckerli+One&display=swap");