@import url("./fonts.css");
@import url("./icons.css");


/* * {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
} */

/* body {
  background-color: rgb(23, 23, 31);
  overflow-x: hidden;
} */

/* a {
  text-decoration: none;
  transition: 0.4s;
  color:white
} */

/* p {
  color:white;
  font-size: 2.5vh;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 25px;
} */

/* h1 {
  color:white;
} */

/* NAVBAR */

/* 
 #menu{
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: #23232e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999; 

  @media screen and (max-width: 500px) {
    margin-top: 0
  }
}  */

/* nav:hover{
  transition: 0.5s;
  height: 8.5vh;
} */

/* .logo {
  font-size: 30px;
  letter-spacing: 4px;
  margin-left: 8%;
  font-family: 'Amatic SC', cursive;
} */
/* 
.nav-list li {
  display: inline;
  text-decoration: none;
  margin-right: 2em;
  margin-left: 1.5em;
  @media screen and (max-width: 500px) {
    margin-right:0
  }
} */

/* .nav-list li a:hover, .logo:hover{
  color: #868686;
} */


#assista {
  /*background-color: black;
  padding: 0.4em;
  border: 2px solid white;
  border-radius: 1000px;
  justify-content: center;
  align-items: center; */
  @media screen and (max-width: 769px) {
    display:none
  }
}

/* .fa-solid fa-user{
  font-size: 1em;
  color: white;
} */

/* #user{
  margin-right: 1em;
} */



/* BACKGROUND */
 /* .background{
background-image: url(../images/movie-4708211_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 80vh;

  @media screen and (max-width: 500px) {
    height: 40vh;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
  }
} */



/* DESTAQUES */
/* main{
  width: 100vw;
  
} */

main .Home, main .filme_destaque, main.texto, main .localizacao, .footer-content{
  /* margin-top: 25px;
  align-items: center;
  justify-items: center;
  text-align: center; */
  @media screen and (max-width: 500px) {
    font-size:0.8em;
  }
} 

/* main .texto p{
  margin-top:10px
} */

/* Filmes Destaques */

/* #destaques {
  padding: 0.3em;
  border: 1.3px solid white;
  border-radius: 1000px;
  color: white;
  background-color: #23232e;
} */




/* .filme_destaque, .filmes{
  display: flex;
} */


/* .image-container {
  flex: 1;
} */

/* .image-container img {
  max-width: 100%;
  height: auto;
  border: 2px solid transparent;
  border-radius: 10px;
} */

/* .image-container img:hover{
  opacity: 80%;
  border-color: white;
} */

/* .column {
  margin: 5px;
  flex:0 0 25%
} */



/* Filmes */

/* .filmes{
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  @media screen and (max-width: 500px) {
    padding-bottom: 30px;
  }
} */

/* Localizacao */

/* #texto{
  padding-left: 20vw;
} */
/* 
.localizacao{
  display: block;
  padding: 50px;

  margin: 25px;
  @media screen and (max-width: 500px) {
    display: none;
  }
} */
/* .localizacao p{
  margin-left: 18em;
  margin-right: 15em;
  era um erro que desalinhava o texto
} */


/* Footer */
/* 
footer{  
  background-color: #23232e;
  text-decoration: none;
} */

/* footer .footer-content{
  display: flex;
  text-align: center;
} */

/* footer .footer-content > section{
  flex-basis: calc(100%/3);
  display: block;
  margin-block-start: 1em;
  
} */

/* footer .footer-content .sobre h1{
  font-size: 1em;
  margin-block-end: 0.5em
} */

footer .footer-content .sobre p{
  font-size: 1em;
  @media screen and (max-width: 500px) {
    font-size: 0.8em;
    margin-left: 0.5em;

  }
}

/* .lista-icon{
  display: inline-flex;
} */

/* .lista-icon li{
  margin: 0.5em;
  font-size: 1.5em;
  color: white
} */

/* ul{
  list-style: none;
} */

/* .contact li:hover, .copyright h1:hover{
  color: #868686;;

} */
