@import url("/styles/fonts.css");

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(23, 23, 31);
}

a {
  text-decoration: none;
  transition: 0.4s;
  color:white
}

p {

  font-size: 2.5vh;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 25px;
}

/* NAVBAR */

#menu{
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: #23232e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

nav:hover{
  transition: 0.5s;
  height: 8.5vh;
}

.logo {
  font-size: 20px;
  letter-spacing: 4px;
  margin-left: 8%;
}

.nav-list li {
  display: inline;
  text-decoration: none;
  margin-right: 2em;
  margin-left: 1.5em;
}

.nav-list li a:hover, .logo:hover{
  color: #868686;
}

#assista {
  background-color: black;
  padding: 0.4em;
  border: 2px solid white;
  border-radius: 1000px;
  justify-content: center;
  align-items: center;
}

/*#assista:hover {}*/

/* BACKGROUND */
.background{
  display: flex;
  background-image: url(../images/noivafrankeinstein.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 80vh;
}



/* DESTAQUES */

main .Home, main .filme_destaque, main .texto, main .catalogo, main .localizacao{
  margin-top: 25px;
  align-items: center;
  justify-items: center;
  text-align: center;
}




#destaques, #catalogo-botao {
  padding: 0.3em;
  border: 1.3px solid white;
  border-radius: 1000px;
  color: white;
  background-color: #23232e;
}





.filme_destaque, .filmes{
  display: flex;
}


.image-container {
  flex: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border: 2px solid transparent;
  border-radius: 10px;
}

.image-container img:hover{
  opacity: 80%;
  border-color: white;
}

.column {
  margin: 5px;
}









/* Filmes */

.filmes{
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
}

.localizacao{
  padding-bottom: 1150px;
}

#local{

}

/*antigo codigo do catalogo.catalogo{
  display: block;
  font-size: 2em;
}


.catalogo p{
  margin: 1.5em 2em 1.5em 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#catalogo-botao{
  margin: 1.5em 1em 1.5em 1em
}
*/

/* MEDIA (CELULAR)*/
@media (max-width: 882px) {
  .column img {
    width: 100%;
    height: 50%;
  }
  .nav-list li {
    margin-right: 1em;
    margin-left: 0.5em;
  }

  .catalogo{
    font-size: 1.5em;
  }

  #catalogo-botao{
    margin: 1.5em 0em 1.5em 0em
  }

  .filme_destaque{
    margin-bottom: 0px;
  }
}



@media (max-width: 1200px) {

  .catalogo{
    font-size: 1.5em;
  }

  #catalogo-botao{
    margin: 1.5em 0em 1.5em 0em
  }
}